/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A */
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #FFFFFF */
/* акцент #2196F3; */
/* цвет фона команды #F5F4FA; */
/* цвет ссылок футера rgba(255, 255, 255, 0.6); */

:root {
    --main-bg-color: #fff;
    --dark-bg-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --active-color: #2196f3;

    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #fff;
    /*--blue-text-color: var(--hover-bg-color);*/
    --black-text-color: #000000;
    --contacts-header-text-color: rgba(255, 255, 255, 0.6);
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal; /*400*/
    font-style: normal;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
/*utilits*/
.list {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-position {
    padding-top: 94px;
    padding-bottom: 94px;
}
.unused-title {
    color: var(--main-bg-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
}
/*---------------------HEADER-------------------------*/
.header-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ececec;
}
/* ------navbar*/
.navbar {
    display: flex;
    align-items: center;
}
/*------logo*/
.logo {
    display: block;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: none;
}
.logo-part-in-header {
    color: var(--black-text-color);
}

/*-----nav in Header*/
.nav-in-header {
    display: flex;
    margin-left: 93px;
}
.nav-in-header-element:not(:last-child) {
    margin-right: 50px;
}
.nav-in-header-element > a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14; /*16px*/
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
}
.nav-in-header-element > a:hover,
.nav-in-header-element > a:focus {
    color: var(--active-color);
}

/*-------Contacts in Header*/
.contact-in-header {
    display: flex;
    margin-left: auto;
}
.contact-in-header-element:not(:last-child) {
    margin-right: 50px;
}
.contact-in-header-element > a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
}
.contact-in-header-element a:hover,
.contact-in-header-element a:focus {
    color: var(--active-color);
}
.nav-in-header-element .current {
    color: var(--active-color);
}

/*-----------main_HomePage.html-------------*/
/*-----block Hero*/
.homepage-hero-block {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    text-align: center;
    margin: 0 auto;

    background-color: var(--dark-bg-color);
}

.homepage-main-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.homepage-button-order {
    font-family: inherit;
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
}
.homepage-button-order:hover,
.homepage-button-order:focus {
    background-color: #188ce8;
}

/*-----block Advantages*/
.homepage-advantages-list {
    display: flex;
}
.homepage-advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.homepage-advantages-element-title {
    margin-bottom: 10px;

    font-size: inherit;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.homepage-advantages-element-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*-----block Make*/
.homepage-make-block {
    padding-bottom: 94px;
}
.homepage-make-list {
    display: flex;
}
.homepage-make-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-make-list-item:not(:last-child) {
    margin-right: 30px;
}

/*------block OurTeam*/
.homepage-team-block {
    max-width: 1600px;
    margin: 0 auto;

    background-color: var(--button-bg-color);
}
.homepage-team-title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-team-list {
    display: flex;
}
.homepage-team-list-item {
    background: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.homepage-team-list-item:not(:last-child) {
    margin-right: 30px;
}
.block-title-team {
    margin-bottom: 30px;
    margin-top: 30px;
}
.homepage-surname-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.homepage-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*---------------------main Portfolio.html--------------------*/
/*-----list Filter*/
.list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-filter-element:not(:last-child) {
    margin-right: 8px;
}
.list-filter-button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-bg-color);
    border-radius: 4px;
    cursor: pointer;
}
.list-filter-button:hover,
.list-filter-button:focus {
    background-color: var(--active-color);
    color: var(--white-text-color);
    cursor: pointer;
}

/*-----list  Portfolio*/
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.list-portfolio-item {
    width: 370px;
}
.list-portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.list-portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.list-portfolio-block-link {
    text-decoration: none;
    font-style: normal;
}
.block-title-portfolio {
    margin: 20px 24px;
}
.project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.project-discription {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*----------------FOOTER--------------------*/
.footer {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--dark-bg-color);
}
.footer .logo {
    margin-bottom: 20px;
}
.logo-part-in-footer {
    color: var(--white-text-color);
}

.address-list-in-footer {
    font-style: normal;
}

.address-in-footer-element-text > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none;
}
.address-in-footer-element > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-header-text-color);
    text-decoration: none;
}
.address-list-in-footer li:not(:last-child) {
    margin-bottom: 9px;
}